.to-do-container {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 12em;
    font-size: 1.75em;
    min-height: 90vh;
}

.message-input {
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color:  rgb(29, 29, 29);
    box-sizing: border-box;
}

.input-field {
    width:90%;
    padding:1em;
}


.to-do-body {
    display: flex;
    flex-direction: column;
}

.to-do-summary {
    box-sizing: border-box;
    display: flex;
    background-color: rgb(29, 29, 29);
}

.to-do-summary button {
    padding: 1em 2em 1em 2em;
    border-width: 1px;
    border-color:rgb(104, 238, 175);
    background-color: transparent;
    color: rgb(104, 238, 175);;
    cursor: pointer;
    font-weight: 900;
}


.to-do-summary button:hover {
    background-color:rgb(104, 238, 175);
    color:black;
}


.to-do-taskboard, .messaging {
    box-sizing: border-box;
    background-color: rgb(255, 253, 253);
    overflow: auto;
    padding: 1em;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .5s, linear
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .75em;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.task-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-label>* {
    margin-right: 1em;
}

.message-display, .message-input {
    border-width: 1px;
    width: 100%;
    border-color: black;
    border-style: solid;
}

.message-display {
    height: 90vh;
}

.message-input {
    height: 10vh;
}

/* Extra extra small devices (phones, 400px and down) */

@media only screen and (max-width: 400px) {
    .to-do-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        color: white;
        border-radius: 12em;
        font-size: 1.75em;
        min-height: 90vh;
    }
    .to-do-summary {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        font-size: .5em;
        max-height: 30vh;
    }
    .to-do-taskboard {
        width: 100%;
        font-size: .75em;
    }
    .to-do-summary button {
        padding: .4em .8em .4em .8em;
        width:50%;
    }
    .to-do-summary>div {
        display: flex;
        flex-direction: row;
    }
    .to-do-taskboard, .messaging {
        padding: .2em;
    }

    .message-input {
        padding:0em;
    }

    .small-submit {
        width:10%;
        background-color:rgb(104, 238, 175);
        cursor: pointer;
        display:block;
        padding: 1em;
    }

    .submit-button {
        display:none;
    }
}

/* Extra small devices (phones, 400px and up) */

@media only screen and (min-width: 400px) {
    .to-do-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        color: white;
        border-radius: 12em;
        font-size: 1.75em;
        min-height: 90vh;
    }
    .to-do-summary {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        font-size: .5em;
        max-height: 30vh;
    }

    .to-do-summary button{
        width:50%;
    }

    .to-do-taskboard {
        width: 100%;
        font-size: 1.25em;
    }
    .to-do-summary>div {
        display: flex;
        flex-direction: row;
    }

    .message-input {
        padding:.2em;
    }

    .small-submit {
        width:10%;
        background-color:rgb(104, 238, 175);
        cursor: pointer;
        display:block;
        padding: 1em;
    }

    .submit-button {
        display:none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .to-do-summary {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        font-size: .75em;
        max-height: 20vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .to-do-container {
        width: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: row;
        color: white;
        border-radius: 12em;
        font-size: 1.75em;
        min-height: 90vh;
    }
    .to-do-summary {
        flex-direction: column;
        justify-content: space-around;
        width: 20%;
        max-height: 100vh;
        font-size: 1em;
    }
    .to-do-body {
        width: 80%;
    }
    .to-do-summary button span {
        display: inline-block;
        position: relative;
        transition: visibility 0s, opacity 0.25s ease;
    }
    .to-do-summary>div>button>.summary-number {
        opacity: 0;
        position: absolute;
        visibility: hidden;
        padding-left: .5em;
    }
    .to-do-summary>div>button:hover>.summary-number {
        opacity: 1;
        position: relative;
        visibility: visible;
    }
    .to-do-summary>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 40%;
        width: 100%;
    }

    .to-do-summary button{
        width:80%;
    }

    .submit-button {
        width:10%;
        padding: 1em;
        background-color:rgb(104, 238, 175);
        font-weight: 900;
        cursor: pointer;
    }

    .message-input {
        padding:.5em;
    }

    .submit-button {
        display:block;
    }

    .small-submit {
        display:none;
    }
}
