.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(91, 236, 193);
    color:white;
    min-height:10vh;
    height:10vh;
    width:100vw;
    font-family: 'Trebuchet MS', sans-serif;
}

.source:hover {
    background-color: rgb(104, 238, 175);
    color: white;
}

.header > * {
    margin:.5em;
}

.logo {
    max-width: 100%;
    height: auto;
    align-self: stretch;
}

.source {
    background-color: #cfe0a6; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius:.75em;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .source {
        padding: .75em;
        font-size: .75em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    .source {
        font-size: 1em;
        padding: 1em;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {
    .header {
        font-size: .75em;
    }
}
